extends layout

block content

  p
    a(href="/" class="btn btn-primary") All todos

  if errors
    ul
      for error in errors
        li= error.msg

  -data = data || {}

  if message
    p
      message

  form(action="/add-todo" method="POST")
    div.form-group
      label(for="title") Todo:
      input(
        type="text"
        id="title"
        name="title"
        value=data.title
        class="form-control"
        autofocus="on"
      )

    div.form-group
      label(for="description") Description:
      input(
        type="text"
        id="description"
        name="description"
        value=data.description
        class="form-control"
      )

    input(type="submit" value="Submit" class="btn btn-success")
